<pdconfig>
  <service name="twisted-lorien">
    <listen ip="0.0.0.0:8080" />
    <listen ip="0.0.0.0:8081" />
    <group name="servers1" scheduler="roundrobin">
      <host name="test1" ip="lorien:1901" />
      <host name="server1" ip="lorien:7001" />
      <host name="server2" ip="lorien:7002" />
    </group>
    <group name="servers2" scheduler="leastconns">
      <host name="server3" ip="lorien:7003" />
      <host name="server4" ip="lorien:7004" />
      <host name="server5" ip="lorien:7005" />
      <host name="server21" ip="lorien:7021" />
    </group>
    <enable group="servers1"/>
  </service>
  <service name="twisted-fangorn">
    <listen ip="0.0.0.0:6080"/>
    <group name="servers" scheduler="roundrobin">
      <host name="server1" ip="fangorn:7001" />
      <host name="server2" ip="fangorn:7002" />
    </group>
    <enable group="servers"/>
  </service>
  <service name="apache">
    <listen ip="0.0.0.0:9080"/>
    <group name="servers" scheduler="roundrobin">
      <host name="server1" ip="rivendel:80" />
      <host name="server2" ip="lorien:80" />
    </group>
    <enable group="servers"/>
  </service>
  <admin listen="localhost:7000" secure="secure" refresh="10">
    <user name="admin" password="..xpoEyRReGzk" access="full"/>
  </admin>
  <manager hostCheckInterval="20" />
</pdconfig>

